.page-header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 50px;
    background-color: rgb(85, 85, 227);
}

.search-form {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 12px;
        
    display: flex;
    gap: 2px;
    
 }

