.page-header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 50px;
    background-color: rgb(122, 122, 218);
}

.search-form {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 14px;
        
    display: flex;
    gap: 4px;
}   
 
.load-more {
    position: absolute;
    right: 28px;
    top: 14px;

}

@media screen and (min-width: 1200px) {
    .load-more {
        right: 88px;
    }}

 

 .load-more.is-hidden {
     display: none;
 }

 .decoration {
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;

 }

 .gallery {
    margin-top: 60px;

    display: grid;
    max-width: 1140px;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-auto-rows: 200px;
    grid-gap: 14px;
    justify-content: center;
    padding: 0;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
}

.gallery__image {
    width: 100%;
    height: 172px;
    object-fit: cover;
}

.info {
    display: flex;
    font-size: 10px;
    width: 100%;
    padding: 7px;
    margin: 0;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}

.info-item {
    margin: 0;
    
}

.info-item:not(:last-child) {
    margin-right: 15px;
}